.connectwithMe{
    background: #ffff;
    color: green;
    font-weight: 600;
    transition: 0.5s;
}
.connectwithMe:hover{
transform: scale(1.05);
}
.tizminelogo{
    height: 40px;
    width: 60px;
}